@use 'functions_mixins' as fm;
@import 'config';

.section-heading{
    font-size: fm.calcRem(20);
    text-transform: uppercase;
    position: relative;
    margin-bottom: 1rem;
    display: inline-flex;
    font-weight: 600;
    align-items: center;
    gap: fm.calcRem(5);

    &::after {
        content: '';
        position: absolute;
        bottom: -.4rem;
        left: -.1rem;
        right: -1rem;
        height: .5rem;
        background-image: url('../assets/underline.svg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    i{
        font-size: fm.calcRem(22);
    }

    @media(min-width: fm.calcRem(992)) {
        font-size: fm.calcRem(28);
    }
}

/**** Header ****/
header{
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: 0px 10px 30px -10px rgba(0,0,0,.3);
    box-shadow: 0px 10px 30px -10px rgba(0,0,0,.3);
    position: relative;
    height: fm.calcRem(60);

    a{
        width: fm.calcRem(60);
        height: auto;
        border: none;
        outline: none;

        img{
            max-width: 100%;
            max-height: 100%;
            display: block;
        }
    }
    nav{
        background-color: lighten($background,2);
        border-bottom: 1px solid darken($background,1);
        position: absolute;
        left: 0;
        right: 0;
        bottom: -12.5rem;
        width: 100%;
        padding: fm.calcRem(20) 0;
        -webkit-box-shadow: 0px 10px 30px -10px #000000;
        box-shadow: 0px 10px 30px -10px #000000;
        display: none;
        transition: all .8s ease-in;

        &.open{
            display: block;
        }

        ul{
            text-align: center;

            li{
                line-height: fm.calcRem(28);
                font-size: fm.calcRem(24);

                a:hover{
                    color: $primary;
                    font-weight: 500;
                }
            }
        }
    }
    .menu-icon{
        display: flex;
        i{
            font-size: fm.calcRem(48);
        }
    }

    @media(min-width: fm.calcRem(992)) {
        nav{
            background-color: inherit;
            border: none;
            position: relative;
            top: 0;
            bottom: 0;
            display: inline-block;
            -webkit-box-shadow: none;
            box-shadow: none;

            ul{
                display: flex;
                justify-content: right;
                align-items: center;

                li{
                    line-height: normal;
                    margin-left: fm.calcRem(10);
                }
            }
        }
        .menu-icon{
            display: none;
        }
    }
}

/**** Main ****/
main{
    // home
    #home-section{
        display: grid;
        align-content: center;
        
        .container{
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            gap: fm.calcRem(40);
            height: 100vh;
            height: 100dvh;
        }

        .overview{
            text-align: center;
            padding: fm.calcRem(24) fm.calcRem(5);

            h1{
                font-size: fm.calcRem(32);
                line-height: fm.calcRem(50);
                span{
                    @extend h1;
                    font-weight: bold;
                    color: $primary;
                }
            }
            h3.job-titles{
                font-size: fm.calcRem(20);
                text-transform: uppercase;
                border-top: .5px solid $primary;
                border-bottom: .5px solid $primary;
                display: inline-block;
            }
            h5{
                font-size: fm.calcRem(18);
            }
            .icons{
                display: flex;
                justify-content: center;
                gap: 5px;
                margin-top: fm.calcRem(15);
                
                i{
                    font-size: fm.calcRem(32);

                    &:hover{
                        color: $primary;
                    }
                }
            }
        }

        .identity{
            width: 70vw;
            height: auto;
            margin: 0 auto;

            picture{
                img{
                    max-width: 100%;
                    max-height: 100%;
                    display: block;
                    border-radius: 50%;
                    border: fm.calcRem(5) solid $primary;
                }

                .blobs{
                    display: none;
                }
            }
        }

        .skill-rain{
            display: none;
        }

        @media(min-width: fm.calcRem(992)) {
            .container{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: fm.calcRem(40) 0 0;
                gap: 0;
                width: 100%;
                height: 100%;
                max-height: calc(100vh - 3.75rem);
                max-height: calc(100dvh - 3.75rem);
                overflow: hidden;
                position: relative;
            }
            .overview{
                width: 100%;
            }
            .identity{
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
    
                picture{
                    position: relative;
                    
                    img{
                        border-radius: 0;
                        border: none;
                        object-fit: contain;
                        width: 100%;
                        height: 100%;
                        filter: drop-shadow(0 0 0.5rem #000);
                        -moz-filter: drop-shadow(0 0 0.5rem #000);
                        -ms-filter: drop-shadow(0 0 0.5rem #000);
                        -o-filter: drop-shadow(0 0 0.5rem #000);
                        filter: #000; /* IE6-9 */
                        -webkit-filter: drop-shadow(0 0 0.5rem #000);
                    }

                    .blobs{
                        display: block;
                        position: absolute;
                        width: 100%;
                        z-index: -10;
    
                        &#blob1{
                            top: -30px;
                            left: -60px;
                            animation: blobs-animation 5s linear .5s infinite;
                        }
    
                        &#blob2{
                            top: 25%;
                            right: -55px;
                            animation: blobs-animation 10s linear infinite;
                        }
    
                        &#blob3{
                            top: 30%;
                            right: 0;
                            left: -65px;
                            animation: blobs-animation 8s linear .3s infinite;
                            z-index: -15;
                        }
    
                        img{
                            object-fit: cover;
                            filter: none;
                            -moz-filter: none;
                            -ms-filter: none;
                            -o-filter: none;
                            filter: none; /* IE6-9 */
                            -webkit-filter: none;
                        }
                    }
                }
            }

            .skill-rain{
                display: block;
                position: absolute;
                top: -20%;

                img{
                    width: 100%;
                    object-fit: cover;
                }

                &#skill-rain-1{
                    width: 60px;
                    left: 0%;
                    animation: skill-rain 4s linear 1.5s infinite;
                }
                &#skill-rain-2{
                    width: 30px;
                    left: 12%;
                    z-index: -18;
                    animation: skill-rain 6s linear .5s infinite;
                }
                &#skill-rain-3{
                    width: 70px;
                    left: 90%;
                    animation: skill-rain 4s linear 2.5s infinite;
                }
                &#skill-rain-4{
                    width: 65px;
                    left: 47%;
                    animation: skill-rain 3.5s linear 2s infinite;
                }
                &#skill-rain-5{
                    width: 50px;
                    left: 25%;
                    z-index: -16;
                    animation: skill-rain 4.5s linear 1s infinite;
                }
                &#skill-rain-6{
                    width: 20px;
                    left: 60%;
                    z-index: -20;
                    animation: skill-rain 7s linear infinite;
                }
            }
        }
    }

    /**** About ****/
    #about-section{
        background: linear-gradient(180deg, lighten($background, 3) 90%, $background 100%);
        padding: fm.calcRem(14);

        #about-details{
            background-color: $background;
            padding: fm.calcRem(14);
            border-radius: fm.calcRem(10);
            margin: auto 0;
            
            h5{
                margin-bottom: 5px;
                padding-bottom: 5px;
                font-weight: 600;
            }

            #about-details-personal{
                background-color: lighten($background,3);
                border-radius: fm.calcRem(5);
                padding: fm.calcRem(18);
                width: 100%;

                h5{
                    border-bottom: 2px solid $sub;
                }

                .detail{
                    font-size: fm.calcRem(14);

                    &:nth-of-type(2){
                        margin: fm.calcRem(8) 0;
                    }

                    span{
                        font-weight: 500;
                    }
                }
            }

            #about-details-summary{
                margin: fm.calcRem(24) 0;
                padding: fm.calcRem(18);
                
                h5{
                    border-bottom: 2px solid $sub;
                }
            }
        }

        #about-services{
            padding: fm.calcRem(14);

            h3{
                text-align: center;
                text-decoration: underline;
                font-size: fm.calcRem(18);
            }
            
            .services{
                padding: fm.calcRem(18) 0;
                width: 100%;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
                gap: 20px;
                justify-content: center;

                .service{
                    background-color: $background;
                    padding: fm.calcRem(20) fm.calcRem(15);
                    border-radius: fm.calcRem(10);
                    border: 2px solid $primary;
                    transition: all .8s ease;

                    &:hover{
                        background-color: $primary;
                        color: black;
                        transform: scale(1.05);

                        i{
                            color: #000000;
                        }
                    }

                    i{
                        font-size: fm.calcRem(32);
                        color: $primary;
                    }

                    h5{
                        margin: fm.calcRem(10) 0;
                        font-weight: 700;
                        font-size: fm.calcRem(18);
                    }
                }
            }
        }

        @media(min-width: fm.calcRem(992)) {
            #about-details{
                display: flex;

                #about-details-summary{
                    margin: 0;
                }
            }

            #about-services{    
                h3{
                    margin: fm.calcRem(18) 0;
                }
            }
        }
    }

    /**** Experience ****/
    .resume{
        #experience{
            padding: fm.calcRem(14);

            h3{
                margin: 10px 0;
                font-size: fm.calcRem(18);
                text-decoration: underline;
            }

            .experience-detail{
                background-color: lighten($background, 3);
                padding: fm.calcRem(20) fm.calcRem(15);
                border-radius: fm.calcRem(10);
                margin-top: fm.calcRem(10);
                overflow: hidden;
                transition: all .5s;

                small{
                    display: flex;
                    justify-content: space-between;
                    font-size: fm.calcRem(14);
                }

                h3{
                    margin: fm.calcRem(5) 0;
                    font-weight: 500;
                    color: $primary;
                }

                p{
                    @extend small;

                    span{
                        font-size: fm.calcRem(14);
                    }
                }

                .experience-duties{
                    overflow: hidden;
                    height: 0;
                    opacity: 0;
                    border: none;
                    transition: all .5s;

                    ul{
                        padding-inline: 15px;

                        li{
                            &::marker{
                                content: '\2726\0020';
                                color: $primary;
                            }
                        }
                    }
                }

                &.open{
                    border: 1px solid $primary;

                    .experience-duties{
                        padding: fm.calcRem(20) 0;
                        height: 100%;
                        opacity: 1;
                    }
                }
            }
        }

        /**** Skills ****/
        #skills{
            padding: fm.calcRem(14);

            .skills{
                background-color: lighten($background, 4);
                border-radius: fm.calcRem(10);
                
                .skill{
                    padding: fm.calcRem(20) fm.calcRem(15);

                    h5{
                        margin: 10px 0;
                    }

                    .skillset{
                        display: grid;
                        grid-template-columns: repeat(auto-fit, 40px);
                        gap: 15px;

                        figure{
                            position: relative;
                            width: 100%;

                            img{
                                max-width: 100%;
                                max-height: 100%;
                                display: block;
                                filter: drop-shadow(0 0 0.5rem $sub);
                                -moz-filter: drop-shadow(0 0 0.5rem $sub);
                                -ms-filter: drop-shadow(0 0 0.5rem $sub);
                                -o-filter: drop-shadow(0 0 0.5rem $sub);
                                filter: gray; /* IE6-9 */
                                -webkit-filter: drop-shadow(0 0 0.5rem $sub);
                            }
                            figcaption{
                                position: absolute;
                                bottom: -30px;
                                left: -15px;
                                right: -15px;
                                text-align: center;
                                font-size: 12px;
                                padding: 2px 3px;
                                background-color: $text;
                                color: $background;
                                border-radius: 4px;
                                box-shadow: 0 0 1px $background;
                                z-index: 10;
                                display: none;
                            }

                            &:hover{
                                figcaption{
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }

        /**** Education ****/
        #education{
            padding: fm.calcRem(14);

            .education-detail{
                background-color: lighten($background, 3);
                padding: fm.calcRem(20) fm.calcRem(15);
                border-radius: fm.calcRem(10);
                margin-top: fm.calcRem(10);

                small{
                    font-size: fm.calcRem(14);
                }

                h3{
                    margin: fm.calcRem(5) 0;
                    font-weight: 500;
                    color: $primary;
                }

                p{
                    @extend small;
                    display: flex;
                    justify-content: space-between;

                    span{
                        font-size: fm.calcRem(14);
                    }
                }
            }
        }

        /**** Awards ****/
        #awards{
            padding: fm.calcRem(14);

            .award{
                background-color: lighten($background, 4);
                border-radius: fm.calcRem(10);
                padding: fm.calcRem(20) fm.calcRem(15);

                .award-type{
                    margin-bottom: 10px;
                    
                    h3{
                        @extend .award-type;
                        font-size: fm.calcRem(18);
                        line-height: fm.calcRem(20);
                        text-decoration: underline;
                    }

                    ul{
                        padding-inline: 15px;

                        li{
                            &::marker{
                                content: '\2605\0020';
                                color: $primary;
                            }
                        }
                    }
                }
            }
        }

        @media(min-width: fm.calcRem(992)) {
            display: grid;
            grid-template-columns: repeat(4,1fr);
            grid-gap: fm.calcRem(10);

            #experience{
                grid-column: span 4;
                grid-row: span 1;

                .experiences{
                    display: flex;
                    gap: fm.calcRem(20);

                    .experience-type{
                        width: 100%;
                    }
                }
            }

            #skills{
                grid-column: span 2;
                grid-row: span 2;

                .skills{
                    .skill{
                        .skillset{
                            figure{
                                img{
                                    filter: grayscale(100%) drop-shadow(0 0 0.5rem $sub);
                                    -moz-filter: grayscale(100%) drop-shadow(0 0 0.5rem $sub);
                                    -ms-filter: grayscale(100%) drop-shadow(0 0 0.5rem $sub);
                                    -o-filter: grayscale(100%) drop-shadow(0 0 0.5rem $sub);
                                    filter: gray; /* IE6-9 */
                                    -webkit-filter: grayscale(100%) drop-shadow(0 0 0.5rem $sub);
                                }

                                &:hover{
                                    img{
                                        filter: grayscale(0%) drop-shadow(0 0 2px $background);
                                        -moz-filter: grayscale(0%) drop-shadow(0 0 2px $background);
                                        -ms-filter: grayscale(0%) drop-shadow(0 0 2px $background);
                                        -o-filter: grayscale(0%) drop-shadow(0 0 2px $background);
                                        filter: none; /* IE6-9 */
                                        -webkit-filter: grayscale(0%) drop-shadow(0 0 2px $background);
                                    }
                                }
                            }
                        }
                    }
                }
            }

            #education{
                grid-column: span 2;
                grid-row: span 1;
            }

            #awards{
                grid-column: span 2;
                grid-row: span 1;
            }
        }
    }

    /**** Projects ****/
    #projects-section{
        padding: fm.calcRem(14);
        background: linear-gradient(180deg, $background 0%, lighten($background, 3) 10%);

        .projects{
            .project-summary{
                display: none;

                &.active{
                    display: block;
                }

                h2{
                    margin: 10px 0;

                    span{
                        color: $primary;
                    }
                }

                .project-tech{
                    padding: fm.calcRem(10) 0;
                    
                    p{
                        font-size: fm.calcRem(14);
                        
                        &::before{
                            content: 'Tech Stack: ';
                        }
                    }
                }

                .project-links{
                    display: flex;
                    gap: 10px;
                    justify-content: flex-start;
                    padding: fm.calcRem(5) 0;
                    border-top: 1px solid $sub;
                    border-bottom: 2px solid $sub;
                    margin-bottom: fm.calcRem(10);

                    a{
                        position: relative;

                        &::after {
                            content: attr(data-title);
                            position: absolute;
                            bottom: -40px;
                            left: -15px;
                            right: -15px;
                            text-align: center;
                            font-size: 12px;
                            padding: 2px 3px;
                            background-color: $text;
                            color: $background;
                            border-radius: 4px;
                            box-shadow: 0 0 1px $background;
                            z-index: 10;
                            display: none;
                        }

                        &:hover::after {
                            display: block;
                        }

                        i{
                            font-size: fm.calcRem(32);

                            &:hover{
                                color: $primary;
                            }
                        }
                    }
                }
            }

            .project-selection{
                overflow: hidden;

                .project-images{
                    display: grid;
                    grid-auto-flow: column;
                    grid-auto-columns: 100%;
                    gap: 20px;
                    height: inherit;
                    transition: .5s;

                    .project-image{
                        width: 100%;
                        height: inherit;

                        img{
                            width: 100%;
                            height: 100%;
                            display: block;
                            object-fit: cover;
                            border-radius: fm.calcRem(10);
                        }
                    }
                }

                .controllers{
                    display: flex;
                    justify-content: space-between;
                    padding: fm.calcRem(10) 0;

                    i{
                        font-size: fm.calcRem(32);

                        &:hover{
                            color: $primary;
                            cursor: pointer;
                        }

                        &.disabled{
                            opacity: .5;
                            pointer-events: none;

                            &:hover{
                                color: inherit;
                            }
                        }
                    }
                }
            }
        }

        @media(min-width: fm.calcRem(992)) {
            .projects{
                display: flex;
                gap: fm.calcRem(40);

                .project-info{
                    width: 100%;

                    .project-summary{
                        height: 100%;
                        width: 100%;

                        h2{
                            font-size: fm.calcRem(24);

                            span{
                                font-size: fm.calcRem(24);
                            }
                        }

                        .project-description{
                            font-size: fm.calcRem(18);
                            margin: fm.calcRem(20) 0;
                        }
                    }
                }

                .project-selection{
                    width: 100%;
                }
            }
        }
    }

    #contact-section{
        padding: fm.calcRem(14);

        p{
            text-align: center;
            margin-top: fm.calcRem(10);

            a{
                color: $primary;
            }
        }
    }
}

footer{
    padding: fm.calcRem(14);
    background-color: darken($background,3);
    text-align: center;

    span{
        color: $primary;
    }
}

@keyframes blobs-animation {
    from, to{
        transform: scale(.5) /*rotate(0)*/;
    }
    50%{
        transform: scale(1) /*rotate(45deg)*/;
    }
}

@keyframes skill-rain {
    from{
        top: -20%;
        opacity: 1;
    }
    45%{
        opacity: .8;
    }
    to{
        top: 120%;
        opacity: 0;
    }
}