Options +MultiViews

RewriteEngine On
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule !.*.html$ %{REQUEST_FILENAME}.html [QSA,L]

<IfModule mod_headers.c>
Header set X-Content-Type-Options nosniff
</IfModule>